<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Game Over</title>
</head>
<body>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <span class="display-1 d-block">Sorry</span>
            <div class="mb-4 display-2">You lose, game is over</div>
            <a  href="/welcome" class="btn btn-link">Back to Home</a>
        </div>
    </div>
</div>


</body>
</html>